.attendee {
	font-family: sans-serif;
	/*
	 * 8.5in page width,
	 *  - 1in left margin,
	 *  - 1in right margin,
	 * All divided by two per page.
	 */
	width: 3.25in;
	/*
	 * 11in page height,
	 *  - 1in top margin,
	 *  - 1in bottom margin
	 */
	height: 9in;
	float: left;
	text-align: center;
	page-break-before: avoid;
	box-sizing: border-box;
}
.attendee:nth-of-type(odd) {
	page-break-before: always;
	clear: left;
}
.attendee:nth-of-type(even) {
	float: right;
}
.attendee section {
	padding: 7em 1em 1em;
	box-sizing: border-box;
	height: 50%;
	position: relative;
}
.attendee section.back {
	transform: rotate(180deg);
	border-top: 1px dashed #888;
}
.attendee section .holepunch {
	font-size: 0.7em;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 5%;
}
.attendee section header {

}
.attendee section header img {
	max-width: 50%;
	height: auto;
}
.attendee section header h1 {
	margin: 0;
}
.attendee section figure {

}
.attendee section figure img {
	max-width: 25%;
	height: auto;
	border-radius: 50%;
}
.attendee section figure figcaption {

}
.attendee section figure figcaption h3.name {
	margin: 0;
}
